<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

<form id="form_id" action="/app/add" method="POST">
    {% csrf_token %}
    <input type="text" name="SSN" id="SSN" value="" />
    <label for="SSN">Social Security Number</label><br />
    <input type="text" name="driver_license_number" id="driver_license_number" value="" />
    <label for="driver_license_number">Driver License Number</label><br />
    <input type="submit" value="Add" />
</form>

<script>

    $( "#form_id" ).submit(function( event ) {
        event.preventDefault();
        $.post('{{ host }}/app/add', {
            'csrfmiddlewaretoken': $("input[name='csrfmiddlewaretoken']").val(),
            'SSN': $("input[name^='SSN']").val(),
            'driver_license_number': $("input[name^='driver_license_number']").val()
        },
        function onSuccess(id){
            window.location.href = "/app/" + id +"/"
        }
        );
    });
</script>

<h1>Data from application storage</h1>
{% if pii_data_list %}
<ul>
    {% for piiData in pii_data_list %}
    <li>
        <p>SSN: {{ piiData.social_security_number}}</p>
        <p>Driver License Number: {{ piiData.driver_license_number}}</p>
        <a href="/app/{{ piiData.id }}/">Show original data</a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No data are available.</p>
{% endif %}
